// Stats counters stylesheet.

.sic-box-container {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 8px;
}

#sic-bottomWrapper {
    margin-bottom: 5px;
}

#sic-hpWrapper, #sic-adrenWrapper {
    width: 50px;
    margin-right: 5px;
    display: inline-block;
}

#sic-fpsWrapper, #sic-latWrapper {
    margin: 5px 0px;
    width: 192px;
}

#ui-spectate-options {
    top: 85px;
}
